* { 
    box-sizing: border-box;
    overflow-x: hidden;
          }
 
          .NEF{
             margin-left: 80px;
          }
 
 body{
            font-family:"Segoe UI", sans-serif ;
            background-color:  #fcf9f9;
            margin: 0;
            padding: 0;
         }
         
 
                .célébrité {
                   text-align: center;
                font-family:  "Segoe UI", sans-serif;
                height: 2500px;
                width: 240px;
                padding: 22px;
                background-color: white;
                float: left;
                font-family:Garamond;
                overflow: hidden;
                border-radius: 20px;
                margin-top: 30px;
                
               }
                  
 
            .célébritée {
             text-align: center;
                font-family:  "Segoe UI", sans-serif;
                height: 2500px;
                width: 240px;
                padding: 22px;
                background-color: white;
                float: right;
                font-family:Garamond;
                border-radius:20px;
                overflow: hidden;
                margin-top: 30px;
               
 
      }
 
      img{
       width: 200px;
       height: 200px;
       border-radius: 10px;
    }
 
 
    .rde{
       
          font-size: 20px;
          
         
 
           
        
 }
  
 
          
        header{
       width: auto;
          background-size: cover;
          height: 200px;
          background-color: rgb(227, 168, 191);
          font-size: 35px;
          
         
 
           
        
 }
 
 h1{
    color: white;
    font-family:"Montserrat" ;
 }
 
 .dir{
    font-family: "Segoe ui", sans-serif;  
    margin-right:300px;
     margin-left: 300px;
  font-size: 20px;
       background-color: white;
       position: absolute;
       border-radius: 20px;
       height: 7000px;
       overflow: hidden;
       margin-top: 30px;
       
 
    }

        
 .er{
    height: 500px;
    width: 400px;
    background-image: url(laici.jpeg);
 background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
 
 }
 
 .testimony{
    background-color: rgb(151, 244, 135);
    border-radius: 20px;
    height: 300px;
    width: 280px;
    margin-top: 60px;
    text-align: center;
    overflow: hidden;
    float: left;
 }
 
 .testimony2{
    background-color: rgb(237, 158, 182);
    border-radius: 20px;
    height: 300px;
    width: 280px;
    text-align: center;
    margin-top: 60px;
    overflow: hidden;
    float: right;
    
    
 }
 
 h5{
    display: flex;
    align-items: end;
    justify-content: right;
 }
 
 .astéxir{
    margin-top: 370px;
 }
             .la{
                text-align: center;
                font-size: 35px;
                color: #0f0303;
                background-color: rgb(255, 255, 255);
               margin-top: 70px;
               margin-left: 280px;
               margin-right: 280px;
               font-family: Garamond;
               
             }
    
             .titre{
                margin-top: 340px
               
             }
 
 .r {
    background-color: #efe3e3;
    border-radius: 20px;
 }
 
 
             .z{
                font-size: 60px;
               margin-right: 10px;
                margin-top: 10px;
               
             }
 
            
  nav ul {
    flex-direction: column;
    align-items: center;
  }
 
             footer {
                background-color: rgb(227, 168, 191);
                height: 300px; 
                width: auto;
                margin-top: 7070px;
 
             }
           
